<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Agendar Cita</title>
</head>
<body>
  <h1>Agendar Nueva Cita</h1>

  <div th:if="${successMessage}" style="color: green">
    <p th:text="${successMessage}"></p>
  </div>
  <div th:if="${errorMessage}" style="color: red">
    <p th:text="${errorMessage}"></p>
  </div>

  <form th:action="@{/appointment}" th:object="${appointment}" method="post">
    <label>Nombre del Paciente:</label>
    <input type="text" th:field="*{patientName}" required/><br/>

    <label>Fecha y Hora (YYYY-MM-DDTHH:MM):</label>
    <input type="datetime-local" th:field="*{date}" required/><br/>

    <label>Doctor:</label>
    <select name="doctorId" required>
      <option th:each="doctor : ${doctors}"
              th:value="${doctor.id}"
              th:text="${doctor.name + ' ' + doctor.firstLastname + ' ' + doctor.secondLastname}"></option>
    </select><br/>

    <label>Consultorio:</label>
    <select name="clinicId" required>
      <option th:each="clinic : ${clinics}"
              th:value="${clinic.id}"
              th:text="'Núm: ' + ${clinic.number} + ' - Piso: ' + ${clinic.floor}"></option>
    </select><br/>

    <button type="submit">Agendar</button>
  </form>


</body>
</html>
